In [146]:
import pandas as pd

In [147]:
# Store countries.csv from URL in pandas data frame
url = 'https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv'
df = pd.read_csv(url, index_col=0)

In [148]:
# Print basic information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Germany to Brazilia
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   People    5 non-null      int64
 1   Area      5 non-null      int64
 2   BIP       5 non-null      int64
 3   Currency  5 non-null      object
dtypes: int64(3), object(1)
memory usage: 200.0+ bytes
None

In [149]:
# Print last four rows of data frame
df[-4:]

             People     Area   BIP Currency
Name
Japan     126045000   377835  4938      YEN
Canada     36503097  9984670  1529      CAD
Italy      60501718   301338  1850      EUR
Brazilia  208360000  8515770  1798     REAL

In [150]:
# Display countries with EUR
df[df['Currency'] == 'EUR']

           People    Area   BIP Currency
Name
Germany  82521653  357385  3466      EUR
Italy    60501718  301338  1850      EUR

In [151]:
# Print Name and Currency in new data frame
filtered_df = df.loc[:,'Currency']
print(filtered_df)

Name
Germany      EUR
Japan        YEN
Canada       CAD
Italy        EUR
Brazilia    REAL
Name: Currency, dtype: object

In [152]:
# Print all countries with BIP > 2000
df[df['BIP'] > 2000]

            People    Area   BIP Currency
Name
Germany   82521653  357385  3466      EUR
Japan    126045000  377835  4938      YEN

In [153]:
# Print all countries with inhabitants between 50 and 150 Mio
df[(df['People'] > 50) & df['People'] < 1500000]

             People     Area   BIP Currency
Name
Germany    82521653   357385  3466      EUR
Japan     126045000   377835  4938      YEN
Canada     36503097  9984670  1529      CAD
Italy      60501718   301338  1850      EUR
Brazilia  208360000  8515770  1798     REAL

In [154]:
# Rename BIP to Bip
df = df.rename(columns={'BIP':'Bip'})

In [155]:
# Calculate Bip Sum
df['Bip'].sum()

13581

In [156]:
# Calculate average people of all countries
df['People'].mean()

102786293.6

In [157]:
# Sort by name alphabetically
df.sort_values('Name')

             People     Area   Bip Currency
Name
Brazilia  208360000  8515770  1798     REAL
Canada     36503097  9984670  1529      CAD
Germany    82521653   357385  3466      EUR
Italy      60501718   301338  1850      EUR
Japan     126045000   377835  4938      YEN

In [158]:
# Create and print new data frame and replace value for area > 1000000 
# with BIG and value for area < 1000000 with SMALL
new_df = df.copy()
new_df['String_Area'] = 'BIG'
new_df.loc[new_df['Area'] > 1000000, 'String_Area'] = 'SMALL'
new_df['Area'] = new_df['String_Area']

In [159]:
del new_df['String_Area']

In [160]:
print(new_df)
print (df)

             People   Area   Bip Currency
Name
Germany    82521653    BIG  3466      EUR
Japan     126045000    BIG  4938      YEN
Canada     36503097  SMALL  1529      CAD
Italy      60501718    BIG  1850      EUR
Brazilia  208360000  SMALL  1798     REAL
             People     Area   Bip Currency
Name
Germany    82521653   357385  3466      EUR
Japan     126045000   377835  4938      YEN
Canada     36503097  9984670  1529      CAD
Italy      60501718   301338  1850      EUR
Brazilia  208360000  8515770  1798     REAL